<div class="page-container">
    <!-- Updated search form -->
    <div class="search-form">
        <form (ngSubmit)="onSubmit()" #searchForm="ngForm" class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control custom-input" id="searchInput" [(ngModel)]="searchTerm"
                    name="searchTerm" placeholder="Search GitHub Repositories" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div class="search-results" *ngIf="searchResults.length > 0">
        <div>
            <button class="expand-button" (click)="toggleGallery()">
                {{ openGallery ? 'Return to Search' : 'View Gallery' }}
            </button>
        </div>


        <ul class="result-list">
            <li *ngFor="let result of (openGallery ? gallery : searchResults)" class="result-item">
                <button class="expand-button" (dblclick)="bookmarkItem(result)">
                    {{ result.full_name }}
                    <img class="avatar-image" [src]="result.owner.avatar_url" alt="Avatar">
                </button>
            </li>
        </ul>
    </div>
</div>