<div class="page-container">
    <!-- Search form onInput -->
    <div class="search-form">
        <form #searchForm="ngForm" class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control custom-input" id="searchInput" [(ngModel)]="searchTerm"
                    (input)="onSubmit()" name="searchTerm" placeholder="Search GitHub Repositories" />
            </div>
        </form>
    </div>
    
    <!-- Search form onEnter / onClick -->
    <!-- <div class="search-form">
        <form #searchForm="ngForm" class="form-inline" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <input type="text" class="form-control custom-input" id="searchInput" [(ngModel)]="searchTerm"
                    name="searchTerm" placeholder="Search GitHub Repositories" />
                    <button type="submit" class="input-button">Search</button>
            </div>
        </form>
    </div> -->

    <div style="max-width:750px; margin:auto; display:flex; justify-content:center; margin-top: 2em;">
        <button class="static-button" (click)="toggleGallery()">
            {{ openGallery ? 'Return to Search' : 'View Gallery' }}
        </button>
    </div>

    <div class="search-results" *ngIf="hasResults || openGallery">
        <ul class="result-list">
            <li *ngFor="let result of (openGallery ? galleryItems$ : items$) | async"
                class="(galleryItems$.contains(result))result-item">
                <button class="expand-button" (dblclick)="bookmarkItem(result)">
                    {{ result.full_name }}
                    <img class="avatar-image" [src]="result.owner.avatar_url" alt="Avatar">
                </button>
            </li>
        </ul>
    </div>
</div>