.search-form {
    max-width: 750px;
    padding: .5rem 6rem;
    margin: auto;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #007bff;
}

.form-control::placeholder {
    color: #6c757d;
}

.result-item {
    list-style: none;
    padding: .5rem 1rem;
}

.result-list {
    list-style: none;
}

.page-container {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #343541;
}

.search-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 750px;
    background-color: #40414f;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toggle {
    max-width: 750px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.search-results {
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #40414f;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 750px;
}

.mdc-list-item__primary-text {
    color: lightgray !important;
}

.input-button {
    width: 105%;
    padding: .5rem 6rem;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: auto;
    background-color: #187538;
    color: #fff;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
}